ion-content {
  --background: var(--app-background);
}

ion-col {
  size: 12;
}

ion-card {
  border: 2px solid transparent;

  &.status-bien {
    border-color: var(--app-success);
  }

  &.status-justo {
    border-color: var(--app-ligthWarning);
  }

  &.status-muyJusto {
    border-color: var(--app-warning);
  }

  &.status-pasado {
    border-color: var(--app-danger);
  }

  ion-card-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
}
